@model Farmacias
@{ Layout = "/Views/Shared/Layout.cshtml"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/farmacias/index">Farmacias</a></li>
        <li class="breadcrum-item active" aria-current="page">Update</li>
    </ol>
</nav>

<form action="/farmacias/update/@Model.FarmaciaId" method="POST">
    <input name="Nome" class="form-control" value="@Model.Nome" placeholder="Nome" />
    <input name="Descricao" class="form-control" value="@Model.Cnpj" placeholder="CNPJ" />

        <br/>
        <button class="btn btn-primary">Atualizar</button>
</form>