@model Farmacias
@{ Layout = "/Views/Shared/Layout.cshtml"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/farmacias/index">Farmacias</a></li>
        <li class="breadcrum-item active" aria-current="page">Update</li>
    </ol>
</nav>

<form id="updateForm" action="/farmacias/update/@Model.FarmaciaId" method="POST" onsubmit="return validarFormulario()">
    <input name="Nome" class="form-control" value="@Model.Nome" placeholder="Nome" />
    <input name="Cnpj" id="cnpj" class="form-control" value="@Model.Cnpj" placeholder="CNPJ" maxlength="18" />

    <br/>
    <button class="btn btn-primary">Atualizar</button>
</form>

<br/>
<a href="/farmacias/index" class="btn btn-secondary">Cancelar</a>

<script>
    function validarFormulario() {
        var cnpjInput = document.getElementById('cnpj');
        var valor = cnpjInput.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (valor.length !== 14) {
            alert('Por favor, complete o campo de CNPJ');
            return false; // Impede o envio do formulário
        }
        return true; // Permite o envio do formulário
    }

    document.getElementById('cnpj').addEventListener('input', function () {
        var cnpjInput = this;
        var valor = cnpjInput.value.replace(/\D/g, ''); // Remove caracteres não numéricos
        if (valor.length > 2 && valor.length <= 5) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2);
        } else if (valor.length > 5 && valor.length <= 8) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2, 5) + '.' + valor.slice(5);
        } else if (valor.length > 8 && valor.length <= 12) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2, 5) + '.' + valor.slice(5, 8) + '/' + valor.slice(8);
        } else if (valor.length > 12) {
            cnpjInput.value = valor.slice(0, 2) + '.' + valor.slice(2, 5) + '.' + valor.slice(5, 8) + '/' + valor.slice(8, 12) + '-' + valor.slice(12);
        }
    });
</script>
