@{Layout = "/Views/Shared/Layout.cshtml";}
<!DOCTYPE html>
<head>
    <title>Farmivery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body class="container">

    @if(ViewBag.Erro != null)
    {
        <div class="alert alert-danger">@ViewBag.Erro</div>
    }

    <form action='/pessoas/login' method="post">
        <div>
            <label>E-mail</label>
            <input type="email" name="Email" class="form-control"/>
        </div>
        <div>
            <label>Senha</label>
            <input type="password" name="Senha" class="form-control"/>
        </div>
        <button class="btn btn-primary">Entrar</button> 
        <a href="/cadastrar/cadastro" class="btn btn-success">Cadastrar</a>
    </form>
</body>
</html>